@import "../../styles/variables.scss";

.weather__block{
  background: linear-gradient(175deg, rgba(13,155,185,0.4) 60%, rgba(233,233,218,0.4) 100%);
  border: 1px solid white;
  border-radius: 5px;
  .weather__icon{
    width: 60px;
    height: 60px;
  }
  .weather__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  .weather__degree{
    margin: 0;
    font-size: 1.5rem;
  }
  .weather__state{
    margin: 0;
  }
}
}