@import "../../styles/variables.scss";

div .nav__container{
  width: 240px;
  min-width: 240px;
  height: calc(100vh - 40px);
  background: $main_color;
  padding-left: 30px;
  border-radius: 15px;
  svg{
    width: 2rem;
    height:  2rem;
  }
  .nav__links{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
}

.nav__logout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(166, 89, 89, 1)
}