@import "../../styles/variables.scss";

div .nav__container{
  width: 240px;
  min-width: 240px;
  height: calc(100vh - 40px);
  background: $main_color;
  padding: 0 30px 120px;
  border-radius: 4px;
  svg{
    width: 2rem;
    height:  2rem;
  }
  .nav__links{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
}

// .nav__logout {
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   color: rgba(166, 89, 89, 1);
//   svg{
//     stroke: $main_color;    
//     stroke-width: 1;
//   }
// }
