@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font: {
    family: Manrope, sans-serif;
    size: 1rem;
    weight: 500;
  }
  color: $main_text_color;
}

.App{
  background-color:$main_transparent_bgc;
  background-image: url("../assets/images/map_bg.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: $main_text_color
}
