// colors
$main_color: #E5E5E5;
$extra_color: #B4CD93;
$secondary_color: #93A67E;
$main_text_color: #4C4C4C;
$extra_text_color: #808080;
$sticker_bgc:#DAA400;
$btn_hover: #93A67E;
$btn_active: #81926E;
$notifications_text_color: #B3B3B3;

//box-shadow

$main_box_shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;