@import "../../styles/variables.scss";

div .select__lang{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  color: $extra_text_color;
  select {
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: $extra_text_color;
    outline: none;
    cursor: pointer;
  }
  svg{
    stroke: $main_color;    
    stroke-width: 1;
  }
}