@import "../.././styles/variables.scss";

.attractions__block{
  .attractions__list{
    width: 25vw;
    height: calc(100vh - 255px);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: $extra_color;   
      border-radius: 10px;
    }
    .attraction__item{
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      width: 100%;
      padding: 8px;
      border: 1px solid $main_color;
      box-shadow: $main_box_shadow;
      transition: all 0.35s ease-in-out;
      cursor: pointer;
      &:hover{
        background: $main_color;
      }
      &.active{
        background: $main_color;
      &::before{
        content: "";
        display: block;
        clear: both;
        position: absolute;
        left: 100%;
        top: -1px;
        width: 0.5rem;
        height: calc(100% + 3px);
        background: $extra_color;
        }
      }
    }
  }
}

.attraction__details{
  width: 100vw;
  height: calc(100vh - 255px);
  border: 1px solid $main_color;
  max-width: 50vw;
  transition: 1s ease-in-out;
  box-shadow: $main_box_shadow;
  transition: all 0.35s ease-in-out;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px; 
  }
  &::-webkit-scrollbar-thumb {
    background-color: $extra_color;   
    border-radius: 10px;
  }
  .attraction__details-content{
    font-size: 14px;
  }
}
