@import "../.././styles/variables.scss";

.map-block__container{
  width: 80%;
  height: 100vh;
  box-shadow: $main_box_shadow;
  .weather__popup{  
    min-width: 300px;
    font-size: 0.75rem;
    a{
      color: $main_text_color;
      &:hover{
        text-decoration: underline;
        border-color: white;
      }
    }
  }
}

