@import "../.././styles/variables.scss";

.locations__list{
  width: 80%;
.location__item{
  position: relative;
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: $main_box_shadow;
  padding: 35px 10px 10px 10px;
}
}

.location__notification{
  color: $notifications_text_color;
}