@import "../../.././styles/variables.scss";

.button{
  border: none;
  background: $extra_color;
  height: 2.5rem;
  width: fit-content;
  border-radius: 4px;
  line-height: 16px;
  color:#4C4C4C;
  padding: 0 8px;
  font: {
    size: 12px;
    weight: 600;
  }
}