@import "../../styles/variables.scss";

.place__sticker{
  width: fit-content;
  position: absolute;
  right: 0;
  top: 15px;
  background-color: $sticker_bgc;
  color: white;
  text-transform: capitalize;
  padding: 0 8px;
  font-size: 12px;
  box-shadow: $main_box_shadow;
}